.text-label {
    font-size: 20px;
    color:  var(--accent-color);
    font-weight: bold;
    text-align: right;
}
.text-viewpage {
    font-style: oblique;
    text-align: left;
}

.viewimg {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }