

/* common variables */

:root{
    --main-bg-color: #fff;
    --main-font-color: #000;
}

/* end of common variables */



/* common classes */

.flex, .flex-center{
    display: flex;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.flex-c{
    flex-direction: column;
}

.flex-r{
    flex-direction: row;
}

/* end of common classes */