  
  .contactUsHero{
    min-height: 65vh;
    background:  url("../images/ContactHero.png") center/cover no-repeat;
  }



  .contact-details{
    width: 100%;
    margin: 10px ;
    padding: 10px;
    font-family: "Trebuchet MS", Helvetica, sans-serif; 
    order: 1;
    flex-grow:1;
  }

  .contact-details h4{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 22px;
    letter-spacing: -0.2px;
    word-spacing: 1px;
    color: #949516;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    max-width: 300px;
  }

  .contact-details p, .contact-details h5{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: -0.2px;
    word-spacing: 1px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    max-width: 300px;
  }

  .contact-details{
    border-style: groove;
  }
