.customer-login-form-wrapper {
    width: 545px;
    height: 485px;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-style: inset;
    border: 1px solid #8c52ff;
    border-right: none;
    position: relative;
}

.login-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    display: flex;
  
}

img {
    width: 30%;
    margin: 10px;
    position: absolute;
    left: 32%;
    top: 14%;
}

.sign-up-right-wrapper {
    width: 340px;
    height: 485px;
    position: relative;
    background-color: #8C52FF;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.sign-up-right {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-in-text {
    text-align: center;
    color: #8C52FF;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sign-up-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    color: #ffff;
    font-size: 20px;
}

.sign-up-content p {
    width: 235px;
    word-break: break-all;
    text-align: justify;
}

.sign-up-content h2 {
    text-align: center;
}


.sign-up-btn-wrap {
    display: flex;
    justify-content: center;
}

.sign-up-btn-wrap .sign-up-btn {
    width: 125px;
    height: 40px;
    border-radius: 20px;
    background-color: #8c52ff;
    border: 2px solid #ffff;
    color: #ffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    cursor: pointer;
}

.input-box-wrap {
    display: grid;
    margin: 30px;
    position: absolute;
    top: 68%;
    left: 44%;
    transform: translate(-50%, -50%);
}

.input-box-wrap input {
    margin: 10px;
    width: 345px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #8c52ff;
    background-color: #ffffff;
    padding-left: 35px;
}

a {
    color: #646464;
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 20px;
}

.sign-in-wrap .sign-in-btn {
    width: 125px;
    height: 45px;
    border-radius: 30px;
    background-color: #8c52ff;
    border: 2px solid #ffff;
    color: #ffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    cursor: pointer;
}

.sign-in-wrap {
    display: flex;
    justify-content: center;
}

.email-icon {
    position: absolute;
    transform: translate(145%, 107%); 
}

::placeholder {
    color: #646464;
    opacity: 1; 
}

.password-icon {
    position: absolute;
    transform: translate(145%, 410%); 
}

.forgot-pwd {
    display: flex;
    justify-content: center;
    align-items: center;
}

