.customer-shell {
  width: 100%;
}

.customer-shell .category-wrap {
  height: 100%;
  min-width: 14%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
}

.customer-shell .content-wrap {
  height: 90%;
}

.customer-shell .page-content-wrap {
  width: 100%;
  overflow: auto;
}

.customer-shell .page {
  width: 100%;
  height: 120vh;
}

.customer-shell .footer-wrap {
  width: 100%;
  height: 100px;
  background-color: indianred;
}

/* Mobile design */
@media only screen and (max-width: 600px) {
  .category-wrap.closed {
    display: none;
  }

  .category-wrap.opened {
    display: flex !important;
    width: 100%;
  }
}
.customer-inquiry-wrapper {
  position: fixed;
  bottom: 16%;
  right: -60px;
  transform: rotate(270deg);
}

.inquiry-btn {
  box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  background: linear-gradient(to bottom, #8c52ff 5%, rgb(185, 155, 247) 100%);
  background-color: #8c52ff;
  border-radius: 20px;
  /* border:1px solid #8C52FF; */
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #8c52ff;
}
.inquiry-btn:hover {
  background: linear-gradient(to bottom, rgb(185, 155, 247) 5%, #8c52ff 100%);
  background-color: #8c52ff;
}
.inquiry-btn:active {
  position: relative;
  top: 1px;
}
