.customer-dashboard-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
}

.customer-dashboard-wrapper .title {
    position: absolute;
    top: 0%;
    left: 6%;
    transform: translate(-3%, -6%);
}

.customer-dashboard-greeing-wrapper{
    position: relative;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.greeting-to-customer p {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.dashboard-cover-img img {
    height: 500px;
    opacity: 0.7;
}

.dashboard-cover-img {
    position: absolute;
    top: 10%;
    right: 0%;
}

.customer-dashboard-msg {
    position: absolute;
    top: 38%;
    left: 50%;
    z-index: 99999;
    width: 61%;
    transform: translate(-50%, 0%);
}

.customer-dashboard-msg p {
    font-size: 18px;
}

.dashboard-filter-cards .pending-card {
    border: none;
    background-color: #8C52FF;
    color: white;
    border-radius: 5px;
    box-shadow: 0 8px 6px -6px black;
    transition: 0.3s;
    margin-right: 10px;
}

.dashboard-filter-cards .completed-card {
    border: none;
    background-color: #8C52FF;
    color: white;
    border-radius: 5px;
    box-shadow: 0 8px 6px -6px black;
    transition: 0.3s;
}

.filer-card-wrap {
    display: flex;
    position: absolute;
    top: 7%;
    left: 86%;
    transform: translate(-48%, -13%);
}

.pending {
    display: flex;
    text-align: center;
    padding: 10px;
}

.pending-card p {
    margin: 0px;
    text-shadow: 2px 2px #333;
}

.completed {
    display: flex;
    text-align: center;
    padding: 10px;
}

.completed-card p {
    margin: 0px;
    text-shadow: 2px 2px #333;
}

.pending-card h4 {
    margin: 0px;
    text-shadow: 2px 2px #333;
    margin-left: 10px;
}

.completed-card h4 {
    margin: 0px;
    text-shadow: 2px 2px #333;
    margin-left: 10px;
}

.dashboard-order-card-wrapper {
    position: relative;
    top: 29%;
    left: 60%;
    transform: translate(-59%, 55%);
    margin-bottom: 20px;
}

.order-card {
    width: 79vw;
    height: 30vh;
    border: none;
    background-color: #efefef;
    border-radius: 10px;
    margin-left: 47px;
    display: flex;
    position: relative;
    box-shadow: 5px 5px 5px #666;
}

.pending span {
    margin-right: 10px;
}

.completed span {
    margin-right: 10px;
}

.order-card .order-img {
    width: 14vw;
    height: 30vh;
    background-color: blueviolet;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.order-card .order-details {
    position: absolute;
    top: 50%;
    left: 24%;
    transform: translate(-24%, -50%);
}

.order-details h4 {
    margin: 0px;
    padding: 3px;
}

.order-card .total-price h1 {
    text-shadow: 2px 2px #ddd;
}

.order-card .total-price {
    position: absolute;
    top: 10%;
    right: 1%;
    transform: translate(-1%, -60%);
}

.dot {
    
}