.customer-address-dashboard-wrapper {
  margin-left: 41px;
  margin-right: 10px;
}

.customer-address-dashboard-wrapper .title {
  display: flex;
  margin-bottom: 20px;
}

.empty-address-card {
  width: 100%;
  height: 20vh;
  background-color: #efefef;
  border: none;
  border-radius: 20px;
  position: relative;
}

.empty-address-card .msg p {
  margin: 0px;
  font-size: 22px;
  margin-left: 15px;
}

.empty-address-card .msg {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  display: flex;
}

.empty-address-card .add-address-btn {
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translate(-3%, -50%);
}

.empty-address-card .add-address-btn button {
  border: none;
  background-color: #8c52ff;
  color: #ffffff;
  padding: 10px 30px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
  box-shadow: 0 4px 15px 0px #8c52ff;
}

.customer-address-dashboard .add-address-btn button:hover {
  background-color: rgb(152, 90, 209);
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
}

.customer-address-dashboard-form-wrapper .customer-address-dashboard-form {
  width: 68%;
}

.customer-address-dashboard-form-wrapper
  .customer-address-dashboard-form
  input {
  width: 320px;
  height: 45px;
  padding-left: 10px;
  border-radius: 20px;
  border: 1px solid blueviolet;
  margin: 10px;
}

.customer-address-dashboard-form-wrapper
  .customer-address-dashboard-form
  .street-address {
  width: 97%;
}

.customer-address-dashboard .address-card {
  width: 100%;
  height: 20vh;
  background-color: #efefef;
  border: none;
  border-radius: 20px;
  position: relative;
  border-left-width: 15px;
  border-left-color: #8c52ff;
  border-left-style: solid;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.customer-address-dashboard .address-card .icon-wrap {
  margin: 0px 20px;
}

.customer-address-dashboard .address-details-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.customer-address-dashboard .address-details-wrap p {
  font-size: 18px;
  margin: 0px;
}

.customer-address-dashboard .address-details-wrap .icons-wrap {
  margin-right: 20px;
}

.customer-address-dashboard .address-details-wrap .icons-wrap button {
  margin-left: 10px;
  cursor: pointer;
  padding: 0px;
  background-color: #efefef;
  border: none;
}

.customer-address-dashboard-wrapper .add-address-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.customer-address-dashboard-wrapper .add-address-btn button {
  border: none;
  color: #ffffff;
  border-radius: 50px;
  background-color: #8c52ff;
  padding: 15px 39px;
  cursor: pointer;
  box-shadow: 0 4px 15px 0px #8c52ff;
}
