.bella-btn,
.bella-accent-btn {
  border: 2px solid !important;
  padding: 8px 10px;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  width: 100%;
}

.bella-accent-btn:disabled {
  color: #aaa;
  background-color: #9865ff;
}

.bella-accent-btn:focus {
  border-color: #732eff !important;
  box-shadow: 0px 0px 5px #8c52ff;
  background-color: #8c52ff;
  color: var(--accent-font-color);
}

.bella-btn::first-letter,
.bella-accent-btn::first-letter {
  text-transform: capitalize;
}

.bella-accent-btn {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  color: var(--accent-font-color);
}

.bella-accent-btn:hover {
  background-color: var(--accent-color-hover);
}

.bella-accent-btn.secondary {
  border-color: #ddd !important;
  background-color: #ddd;
  color: #333;
}

.bella-accent-btn.secondary:hover {
  background-color: #aaa;
}
