.error-msg-wrapper{
    background-color: #ffacac;
    color: maroon;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
    margin: 5px 0px;
    text-align: center;
    font-size: 14px;
}

.error-msg-wrapper span{
    display: inline-block;
}