.msg-wrapper{
    
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
    margin: 5px 0px;
    text-align: center;
    font-size: 14px;
}

.msg-wrapper span{
    display: inline-block;
}

.msg-wrapper.error{
background-color: #ffacac;
    color: maroon;
}

.msg-wrapper.success{
    background-color: lightgreen;
    color: green;
}